select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

/*
body          { margin: 0; padding: 0; }
body, input   { font-size: 16px; font-family: 'Helvetica Neue', sans-serif; }
.page         { margin: 50px auto; width: 940px; }
h1            { margin: 0; font-weight: normal; color: #c00; }
a             { color: black; }
a:hover       { color: #c00; }
.nav          { margin: 0 0 20px 0; list-style: none; padding: 0; }
.nav li       { display: inline; }
.nav li + li:before { content: " // "; }
h2            { font-weight: normal; margin: 0; }
h3[id^="first"] {color: #f00;}

dl            { overflow: auto; font-size: 14px; }
dl dt         { font-weight: bold; width: 90px; float: left;
                clear: left; }
dl dd         { float: left; margin: 0; padding: 0; }
pre, textarea { font-family: 'Consolas', monospace; font-size: 14px;
                background: #eee; padding: 0; margin: 0; }
textarea      { border: none; width: 720px; }
.code, .flash { background: #eee; margin: 10px -30px; padding: 10px 30px; }
span[id^="style_red"] {color: #f00;}
 legend        { color: #f00; }
.customHr     { width: 95%; font-size: 1px; color: rgba(0, 0, 0, 0);
                line-height: 1px; background-color: grey; margin-top: -6px;
                margin-bottom: 10px;}
    hr {
       display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 0;
       width: 100%;
       max-height: 0;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border: none;
       border-top: 1px solid #aaaaaa;
       border-bottom: 1px solid #ffffff;
    }
    */