{% extends "layout.html" %}
{% block title %}My Questions{% endblock %}
{% block head %}
    {{ super() }}

{% endblock head %}
{% block body %}
<p>
    <h2 class="form-control">What is open data?</h2>
Open data is the idea that some data should be freely available to everyone to use and republish as they wish,
without restrictions from copyright, patents or other mechanisms of control.
Source: <a href="https://en.wikipedia.org/wiki/Open_data">Wikipedia</a>
    <h2 class="form-control">What are Open Data Portals?</h2>
Open data is provided by open data portals to make them more accessible. A lot of different kind of data portals exist.
These vary from national ones like portals of cities or nations, over international ones like the data portal of the
european nation to portals from profit-free organisations. While the main focus of this data in data portals are on
local administrative information, which is mostly important for public authorities, also information relevant for
privates exist. Private people can inform themself about actions of the government, additionally about activities
in the world, such as refugees. This increases trust in the public government and opens new control mechanism.
   <h2 class="form-control">Why open data quiz builder?</h2>
In order to popularize open data usefulness for private people and increase convenience
to get in contact to open data and its underlying architecture
the open data quiz builder framework was created as a non-proprietary, open source and free to use solution.
It offers the possibility to generate questions based on csv datafiles provided by open data portals.
Based on these questions quizzes can be generated. This quizzes can be shared to everyone with a link.
    </p>
{% endblock %}