{% extends "layout.html" %}
{% block title %}My Questions{% endblock %}
{% block head %}
    {{ super() }}

{% endblock head %}
{% block body %}
    <h3 class="form-control">Responsible for publishing:</h3>
    Eric Bruch
    <br /><br />

    <h3 class="form-control">Contact information:</h3>
    Kaiserstraße 66/1/5 <br />
    1070 Vienna <br />
    Austria <br />
   <br />
    telephone: +43 6502156567 <br />
    e-Mail: eric.bruch@wu.ac.at


{% endblock %}