<!doctype html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- add Bootstrap 4-->
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <script src="/static/js/bootstrap.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <!-- end Bootstrap -->
        <!-- customized JS & CSS) -->
        <script src="{{ url_for('static', filename='js/customizedJS.js') }}"></script>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
        <!-- end customized JS & CSS -->
        <!-- ad external javascript framework Bower components -->
        <link rel="import"
              href="{{ url_for('static', filename='bower_components/urth-viz-table/urth-viz-table.html') }}"
              is='urth-core-import' is='urth-core-import'>
        <script src="{{ url_for('static', filename='bower_components/webcomponentsjs/webcomponents-lite.js') }}"></script>
        <!-- end external framework -->
        <title>{% block title %}{% endblock %} | Open Data Quiz Builder</title>
    {% endblock %}
</head>

<body>


<div class=container>
    <nav class="navbar navbar-expand-sm navbar-light ">
        <!-- links -->
        <ul class="nav navbar-nav">
            <li class="nav-item" active>
                <a class="navbar-brand" href="https://de.wikipedia.org/wiki/Open_Data">
                    <img src="{{ url_for('static', filename='img/open_data_octupus.png') }}" alt="logo"
                         style="width:40px;">
                </a>
            </li>
            <li class="nav-item" active>
                <a class="nav-link" href="{{ url_for('new_question') }}">New Question</a>
            </li>
            <li class="nav-item" active>
                <a class="nav-link" href="{{ url_for('my_questions') }}">My Questions</a>
            </li>
            <li class="nav-item" active>
                <a class="nav-link" href="{{ url_for('myQuizzes') }}">My Quizzes</a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            {% if g.user %}
                <li class="nav-item" active>
                    <a class="nav-link" href="{{ url_for('logout') }}">Sign out ({{ g.user.username }})</a>
                </li>
            {% else %}
                <li class="nav-item" active>
                    <a class="nav-link" href="{{ url_for('login') }}">Sign in</a>
                </li>
            {% endif %}
            <li class="nav-item" active><a class="nav-link" href="{{ url_for('about') }}">About</a></li>
            <li class="nav-item" active><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </nav>
    {% for message in get_flashed_messages() %}
        <p class=flash>{{ message }}
    {% endfor %}

    <div id="content">{% block body %}{% endblock %}</div>  <!-- overriden in child template -->

    <div id="footer">
        {% block footer %}

        {% endblock %}
    </div>

    <!-- Powered by pyyacp -->
</div>
</body>
</html>