{% extends "layout.html" %}

{% block title %}Sign In{% endblock %}
{% block body %}


    <h2 class="display-2 text-info">Login & Register</h2>

    <section class="form-control">
    <h3 class="text-info">Login</h3>
    <form method="POST" action="{{ url_for('login') }}">
        <input type="hidden" name="formType" value="login"/>
        <div class="form-group">
            <label for="UserEmail#1">e-Mail</label>
            <input class="form-control" type="text" name="user_email" id="UserEmail#1"
                   aria-describedby="emailHelp" placeholder="Enter email"/>
        </div>
        <div class="form-group">
            <label for="UserPassword#1">Password:</label>
            <input class="form-control" type="password" name="user_password1" id="UserPassword#1"
                   placeholder="Password"/>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit" id="submit"/>
    </form>
    </section>

    <section class="form-control">
    <h3 class="text-info">Register a new Account</h3>

    <form method="POST" action="{{ url_for('login') }}">
        <input type="hidden" name="formType" value="register"/>
        <div class="form-group">
            <label for="UserEmail#2">e-Mail</label>
            <input class="form-control" type="text" name="user_email" id="UserEmail#2"
                   aria-describedby="emailHelp" placeholder="Enter email"/>
        </div>
        <div class="form-group">
            <label for="Username">Username</label>
            <input class="form-control" type="text" name="user_name" id="Username" placeholder="Enter Username"/>
        </div>
        <div class="form-group">
            <label for="UserPassword#2">Password</label>
            <input class="form-control" type="password" name="user_password2" id="UserPassword#2"
                   placeholder="Enter Password"/>
            <small id="UserPassword#2" class="form-text text-muted">
                Your password has to match with the Password in "repeat password"
            </small>
        </div>
        <div class="form-group">
            <label for="UserPassword#3">Repeat Password</label>
            <input class="form-control" type="password" name="user_password3" id="UserPassword#3"
                   placeholder="Repeat password"/>
            <small id="UserPassword#3" class="form-text text-muted">
                Your password is saved encrypted on the server
            </small>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit" id="submit"/>
    </form>
    </section>
{% endblock %}