{% extends "layout.html" %}
{% block title %}My Questions{% endblock %}
{% block head %}
    {{ super() }}
<style>

</style>
{% endblock head %}
{% block body %}

    {% if question_objs %}
        <div class="jumbotron">
            <h2 class="display-2 text-info">My Questions</h2>
        </div>

        <section class="form-control">
            <h3 class="text-info">Edit & Delete Questions</h3>
            <hr/>
            <form method="POST" action="{{ url_for('my_questions') }}">
                <h4 class="text-info">Choose Question</h4>
                <!-- <label for="Choosen_Question">select an option</label> -->
                <select class="form-control" required name="Choosen_Question" id="Choosen_Question">
                    {% for question_obj in question_objs %}
                        <option value="{{ question_obj.id }}">{{ question_obj.question }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Choose Question" class="btn btn-primary"/>
            </form>


            {% if edit_question %}

                <section class="form-control">
                    <h3 class="text-info">Modify & Delete Questions</h3>

                    <label for="QuestionName">Choosen Question:</label>
                    <span id="QuestionName">{{ edit_question.question }}</span>
                    //
                    <label for="QuestionID">Question ID:</label>
                    <span id="QuestionID">{{ edit_question.id }}</span>

                    <button class="btn btn-primary" onclick="enable_Edit()">Edit</button>
                    <div class="row">
                        <form method="POST" action="{{ url_for('my_questions') }}">
                            <div class="col">
                                <input type="hidden" name="Edit_questionID" value="{{ edit_question.id }}"/>
                                <label for="QuestionName#1">Question:</label>
                                <input type="text" name="question_name" value="{{ edit_question.question }}"
                                       id="QuestionName#1" disabled/> <br/>
                                <label for="QuestionURL">URL:</label>
                                <input type="text" name="question_url" value="{{ edit_question.table }}"
                                       id="QuestionURL" disabled/> <br/>
                                <label for="Question_Answer#1">Answer:</label>
                                <input type="text" name="question_answer#1" value="{{ edit_question.answer }}"
                                       id="QuestionAnswer#1" disabled/> <br/>
                                <label for="fake_answer#1">False Answer 1:</label>
                                <input type="text" name="fake_answer1" value="{{ edit_question.fake_answer1 }}"
                                       id="fake_answer#1" disabled/> <br/>
                                <label for="fake_answer#2">False Answer 2:</label>
                                <input type="text" name="fake_answer2" value="{{ edit_question.fake_answer2 }}"
                                       id="fake_answer#2" disabled/> <br/>
                                <label for="fake_answer#3">False Answer 3:</label>
                                <input type="text" name="fake_answer3" value="{{ edit_question.fake_answer3 }}"
                                       id="fake_answer#3" disabled/> <br/>
                            </div>
                            <div class="col">
                                <label for="add_information">Additional information:</label>
                                <textarea name="additional_information" disabled rows="7" cols="35"
                                          id="add_information">{% if edit_question.add_info
                                        %}{{ edit_question.add_info }}{% else %}{% endif %}</textarea>
                            </div>
                                <input type="submit" value="Submit Changes" class="btn btn-primary"
                                       id="submit" disabled/>
                        </form>
                    </div>
                <br />
                    <form method="POST" action="{{ url_for('my_questions') }}">
                        <input type="checkbox" name="deleteThisQuestion" value="{{ edit_question.id }}">
                        <input type="submit" value="Delete Question" class="btn btn-primary">
                    </form>
                </section>
            {% endif %}
        </section>

        <section class="form-control">
            <h3 class="text-info">Delete All Questions</h3>

            <form method="POST" action="{{ url_for('my_questions') }}">
                <input type="checkbox" name="deleteAllQuestions" value="delete">
                <input type="submit" value="Delete all Questions"class="btn btn-primary">
            </form>
        </section>


        <section class="form-control">
            <h3 class="text-info">Combine Questions to a Quiz</h3>


            <form method="POST" action="{{ url_for('new_quizz') }}">
                {% for question_obj in question_objs %}
                    <input type="checkbox" checked="checked" name="questions" value="{{ question_obj.id }}">
                    {{ question_obj.question }}; answer: {{ question_obj.answer }};
                    <a href="{{ url_for('show_question', question_id=question_obj.id) }}">
                        view question
                    </a>
                    <!-- from {{ question_obj.table }}  -->
                    <br>
                {% endfor %}
                <label for=quizz_title>Quizz Title:</label>
                <input type="text" name="quizz_title" id="quizz_title"/> <br/>
                <input type="submit" value="Create Quiz" class="btn btn-primary">
            </form>
        </section>
        </div>
    {% else %}
        <div class="jumbotron">
            <h3 class="display-3 text-info">You do not have any questions yet!</h3>
        </div>
    {% endif %}
{% endblock %}
