{% extends "layout.html" %}
{% block title %}My Quizes{% endblock %}
{% block body %}
    {% if quizzes %}
        <div class="jumbotron">
            <h2 class="display-2 text-info">My Quizzes</h2>
        </div>
        {#
            {% for quizz in quizzes %}
                <ul>
                    <li>{{ quizz.id }}, {{ quizz.title }}</li>
                    <ul>
                        {% for q in quizzes.questions %}
                            <li>{{ q }}</li>
                        {% endfor %}
                    </ul>
                </ul>
            {% endfor %}
            #}
        <section class="form-control">
        <h3 class="text-info">Edit & Open Quizzes</h3>
        To open & solve a Quiz use this url: <em>odquiz.herokuapp.com/solve-quiz/&lt;quizz_id&gt;</em>
        <ol>
            {% for quizz in quizzes %}
                <li><strong>Titel: {{ quizz.title }} ID: {{ quizz.id }}</strong></li>
                <div class="border">
                    <ul>
                        <li>
                            <label for="q_link">Quiz Link:</label>
                            <a href="https://odquiz.herokuapp.com/solve-quiz/{{ quizz.id }}" id="q_link"
                               class="badge badge-primary">
                                odquiz.herokuapp.com/solve-quiz/{{ quizz.id }}
                            </a></li>
                        <li>
                            <form method="POST" action="{{ url_for('myQuizzes') }}">
                                <label for="deleteQ">Delete "{{ quizz.title }}":</label>
                                <input type="checkbox" name="deleteThisQuizz" value="{{ quizz.id }}" id="deleteQ">
                                <input type="submit" value="Delete Quiz" class="btn btn-primary">
                            </form>
                        </li>
                        <li>
                            <form method="POST" action="{{ url_for('myQuizzes') }}">
                                <input type="hidden" name="q_id" value="{{ quizz.id }}">
                                <label for="changeTitel">Change Titel:</label>
                                <input type="text" name="changeTitel" value="{{ quizz.title }}" id="changeTitel">
                                <input type="submit" value="Change Titel" class="btn btn-primary">
                            </form>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </ol>
        </section>
        <section class="form-control">
            <h3 class="text-info">Delete All Quizzes</h3>

            <form method="POST" action="{{ url_for('myQuizzes') }}">
                <input type="checkbox" name="deleteAllQuizzes" value="delete">
                <input type="submit" value="Delete all Quizzes" class="btn btn-primary">
            </form>
        </section>
    {% else %}

        <div class="jumbotron">
            <h3 class="display-3 text-info">You do not have any quizzes yet!</h3>
        </div>

    {% endif %}
{% endblock %}