{% extends "layout.html" %}
{% block title %}New Quiz{% endblock %}
{% block body %}
    <div class="jumbotron">
        <h2 class="display-2 text-info">Add New Question</h2>
    </div>
    <ol>
        <li>Provide URL to a CSV table to display</li>
        <li>Click on the answer cell to add a new question</li>
        <ol>
            <li>The cell you click on will provide the answer for the question</li>
            <li>A window will pop up asking to provide the question to the answer</li>
            <li>Click on "Ok" to create the question</li>
            <li>additional editing can be done in "My Questions"</li>
        </ol>
    </ol>
    <p>
        <strong>Attention</strong>: the table has to provide sufficient information to answer the question!
    </p>

    <h3>Table:</h3>

    <form method="POST">
        <label for="url">Add URL of CSV-file source in table field and click Display table</label><br />
        <input type="text" id="url" name="url" list="urls" size="70"
               value="https://www.wien.gv.at/finanzen/ogd/hunde-wien.csv"/>
        <!-- datalist does not work in safari! tested in chrome -->
        <datalist id="urls">
            <option value="https://www.wien.gv.at/finanzen/ogd/hunde-wien.csv">
            <option value="https://www.wien.gv.at/statistik/ogd/vie_101.csv">
            <option value="https://data.wien.gv.at/daten/geo?service=WFS&request=GetFeature&version=1.1.0&srsName=EPSG:4326&outputFormat=csv&typeName=ogdwien:WLANWRLOGD">
        </datalist>
        <input type=submit value="Display table" class="btn btn-primary">
    </form>

    <div>
        {% include "partials/table.html" %}
    </div>
{% endblock %}
