{% extends "new_question.html" %}
{% block title %}Question #{{ question_obj.id }}{% endblock %}
{% block body %}
    <div class="jumbotron">
        <h2 class="display-2 text-info">show Question #{{ question_obj.id }}</h2>
    </div>

    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th colspan="2">Question: {{ question_obj.question }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Author:</td>
            <td>{{ question_obj.user.username }}</td>
        </tr>
        <tr>
            <td>correct answer:</td>
            <td>{{ question_obj.answer }}</td>
        </tr>
        <tr>
            <td>false answer1:</td>
            <td>{{ question_obj.fake_answer1 }}</td>
        </tr>
        <tr>
            <td>false answer2:</td>
            <td>{{ question_obj.fake_answer2 }}</td>
        </tr>
        <tr>
            <td>false answer3:</td>
            <td>{{ question_obj.fake_answer3 }}</td>
        </tr>
        <tr>
            <td>question source:</td>
            <td>{{ question_obj.table }}</td>
        </tr>
        </tbody>
    </table>
    <label for="csv_table2">Watch the underlaying CSV-data table </label>
    <div id="csv_table2">
        {% include "partials/table.html" %}
    </div>
{% endblock %}
