{% extends "layout.html" %}
{% block title %}solve Quiz{% endblock %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/shuffle.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.questions').each(function () {
                $(this).find('label').shuffle()
            })
        });
    </script>
    <style>
    textarea[id^="additional_information1"] {
        width: 100%;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        resize: none;}
    td[id^="table-cell-center"] {
        text-align: center;
    }
    </style>

{% endblock head %}
{% block body %}

    <div class="jumbotron">
        <br/>
        <h3 class="display-3 text-info">Quiz: {{ quizz_obj.title }}</h3>
        <br/>
        <details class="text-sm-center">
            <summary><img src="/static/img/info_icon.png">Open Data</summary>
            <p class="border" rows="5">
                This quiz was created using open data.<br/>
                By allowing data to be available to everyone and allowing to republish this data without restrictions
                from copyright or other mechanism of control.<br/>
                Open data portals provide public acces to this data.<br/>
                https://www.data.gv.at/ is an example of the austrian open data portal.<br/>
                Worldwide are a variety of open data portals used that provide different kinds of information.
                These data portals provide the possibility, to inform yourself apart of traditional news.
            </p>
        </details>
    </div>
    {% for ques_obj in quizz_obj.questions %}
        <section>
            {% if ques_obj.id == answered_question.id %}
                <section>
                    <table class="table table-sm table-hover table-bordered">
                        <thead>
                        <tr>
                            <th colspan="2" class="col">{{ ques_obj.question }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="2" class="col">{% if user_answer == ques_obj.answer %}
                                <img src="{{ url_for('static', filename='img/correct.png') }}"> {% else %}
                                <img src="{{ url_for('static', filename='img/wrong.png') }}">{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">provided answer:</td>
                            <td>{{ user_answer }}</td>
                        </tr>
                        <tr>
                            <td scope="row">correct answer:</td>
                            <td>{{ ques_obj.answer }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>

                    <label for="#csv_table1">The underlaying csv-table</label>
                    <div id="csv_table1">
                        {% include "partials/table.html" %}
                    </div>
                </section>
            {% else %}

                <form method="POST" action="{{ url_for('.show_quizz', quizz_id=quizz_obj.id) }}" id="questions">
                    <fieldset>
                        <legend>{{ ques_obj.question }}</legend>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="hidden" name="quizz_obj.id" value="{{ quizz_obj.id }}"/>
                                <input type="hidden" name="ques_obj.id" value="{{ ques_obj.id }}"/>
                                <!-- randomise answer options -->
                                <div class="questions">
                                    <div class="custom-radio">
                                        <label for="right1">
                                            <input type="radio" id="right1" name="user_answer"
                                                   value="{{ ques_obj.answer }}"/>
                                            {{ ques_obj.answer }}
                                        </label>
                                    </div>
                                    <div class="custom-radio">
                                        <label for="false1">
                                            <input type="radio" id="false1" name="user_answer"
                                                   value="{{ ques_obj.fake_answer1 }}"/>
                                            {{ ques_obj.fake_answer1 }}
                                        </label>
                                    </div>
                                    <div class="custom-radio">
                                        <label for="false2">
                                            <input type="radio" id="false2" name="user_answer"
                                                   value="{{ ques_obj.fake_answer2 }}"/>
                                            {{ ques_obj.fake_answer2 }}
                                        </label>
                                    </div>
                                    <div class="custom-radio">
                                        <label for="false3">
                                            <input type="radio" id="false3" name="user_answer"
                                                   value="{{ ques_obj.fake_answer3 }}"/>
                                            {{ ques_obj.fake_answer3 }}
                                        </label>
                                    </div>
                                </div>
                                <!-- randomise answer options -->
                                <br/>
                                <input type="submit" value="Submit"/>

                            </div>
                            <div class="col-sm-6">
                                <label for="additional_information1"><u>Additional Information:</u></label>
                                <textarea readonly class="form-group" rows="5" cols="10"
                                          id="additional_information1">{{ ques_obj.add_info }}</textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>

            {% endif %}
        </section>
    {% endfor %}
    <!-- number of questions and correct answered questions -->
    <section>
        <table class="table table-sm table-bordered">
            <thead>
            <tr>
                <th align="center" colspan="2" class="col">{{ quizz_obj.title }}</th>
            </tr>
            </thead>
            <tbody>
                <td>Number of questions: {{ quizz_obj.questions|length }}</td>
                <td align="center">Hyperlink to share Quiz</td>
            </tr>
            <tr>
                <td>Number of <img src="{{ url_for('static', filename='img/correct.png') }}"> answered questions:
                    {% if not correct_answers %}0{% else %} {{ correct_answers }} {% endif %}
                </td>
                <td align="center"><a href="https://odquiz.herokuapp.com/solve-quiz/{{ quizz_obj.id }}">
                    https://odquiz.herokuapp.com/solve-quiz/{{ quizz_obj.id }}</a></td>
            </tr>
            </tbody>
        </table>
    </section>
    <!-- -->
{% endblock %}