<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/customizedJS.js') }}"></script>
    <script>
        $(document).ready(function () {
            $("#button").click(function () {
                $(".test").hide();
            });
        });
    </script>

</head>
<body>
<h2 class="test">hello World</h2>
<p class="test">click me</p>
<p class="test">or click me</p>
<p>hello</p>
<!--
<form method="POST" action="{{ url_for('open_test') }}">
        <select required name="Edit_Question">
            <option disabled selected value>select an option</option>
            <option value="1">Hallo</option>
            <option value="2">Tschüss</option>
        </select>
    <input type="submit" value="Submit Answer"/>
</form>
-->


<button id="button">Try it</button>


</body>
</html>